<template name="__home">
</template>

<template name="cmsinn">
    {{#if isInRole "editor,admin"}}
        {{> cmsinn_controls}}
    {{/if}}
</template>

<template name="cmsinn_controls">
    <div id="au-sidebar" class="au-sidebar">
        <ul class="au-sidebar_list">

            {{!-- editor role --}}
            <li class="au-sidebar_item">
                <a href="#" class="au-sidebar_link au-sidebar_link-save js-save" data-plugin="versioning" title="Save version">
                    <i class="au-sidebar_link_icon auicon auicon-save"></i>
                    <span class="au-sidebar_link_label">Save</span>
                </a>
            </li>
            <li class="au-sidebar_item">
                <a href="#" class="au-sidebar_link au-sidebar_link-cancel js-cancel" data-plugin="disable" title="Cancel CMS action">
                    <i class="au-sidebar_link_icon auicon auicon-cancel"></i>
                    <span class="au-sidebar_link_label">Cancel</span>
                </a>
            </li>

            <li class="au-sidebar_spacer"></li>

            <li class="au-sidebar_item">
                <a href="#" class="au-sidebar_link js-plugin" data-plugin="label" title="Edit text">
                    <i class="au-sidebar_link_icon auicon auicon-edit"></i>
                    <span class="au-sidebar_link_label">Edit</span>
                </a>
            </li>
            <li class="au-sidebar_item">
                <a href="#" class="au-sidebar_link js-plugin" data-plugin="image" title="Edit images">
                    <i class="au-sidebar_link_icon auicon auicon-img"></i>
                    <span class="au-sidebar_link_label">Image</span>
                </a>
            </li>

            {{!-- admin role --}}
            {{#if isInRole 'admin'}}
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="record" title="Edit records">
                        <i class="au-sidebar_link_icon auicon auicon-add"></i>
                        <span class="au-sidebar_link_label">Records</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="navigation" title="Edit navigation">
                        <i class="au-sidebar_link_icon auicon auicon-link"></i>
                        <span class="au-sidebar_link_label">Link</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="locale" title="Edit locale">
                        <i class="au-sidebar_link_icon auicon auicon-lang"></i>
                        <span class="au-sidebar_link_label">Locale</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="sortable" title="Sort elements">
                        <i class="au-sidebar_link_icon auicon auicon-reorder"></i>
                        <span class="au-sidebar_link_label">Sort</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="deletable" title="Delete elements">
                        <i class="au-sidebar_link_icon auicon auicon-delete"></i>
                        <span class="au-sidebar_link_label">Delete</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="rolesmanager" title="Roles Manager">
                        <i class="au-sidebar_link_icon auicon auicon-user"></i>
                        <span class="au-sidebar_link_label">Roles</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a href="#" class="au-sidebar_link js-plugin" data-plugin="settings" title="Settings">
                        <i class="au-sidebar_link_icon auicon auicon-settings"></i>
                        <span class="au-sidebar_link_label">Settings</span>
                    </a>
                </li>
            {{/if}}
            <li class="au-sidebar_spacer"></li>

            <li class="au-sidebar_item">
                <a href="/help" class="au-sidebar_link">
                    <i class="au-sidebar_link_icon auicon auicon-help"></i>
                    <span class="au-sidebar_link_label">Help</span>
                </a>
            </li>
            <li class="au-sidebar_item">
                <a href="#" class="au-sidebar_link js-logout">
                    <i class="au-sidebar_link_icon auicon auicon-logout"></i>
                    <span class="au-sidebar_link_label">Logout</span>
                </a>
            </li>

            <li class="au-sidebar_info">
            Locale: DE<br>
            </li>
            {{!-- <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_dashboard"><i class="fa fa-dashboard fa-2x"></i></button>
                </div>
            </div> --}}

        </ul>
    </div>
</template>