<template name="__home">
</template>

<template name="cmsinn_controls">
    <div id="au-sidebar" class="au-sidebar">

        <ul class="au-sidebar_list">
            {{!-- 
            <li class="au-sidebar_item">
                <a herf="#" class="au-sidebar_link js-plugin" data-plugin="disable" title="Disable CMS action">
                    <i class="au-sidebar_link_icon auicon auicon-off"></i>
                    <span class="au-sidebar_link_label">Disable</span>
                </a>
            </li>
            --}}

            {{!-- editor role --}}
            <li class="au-sidebar_item">
                <a herf="#" class="au-sidebar_link js-save" data-plugin="versioning" title="Save version">
                    <i class="au-sidebar_link_icon auicon auicon-save"></i>
                    <span class="au-sidebar_link_label">Save</span>
                </a>
            </li>
            <li class="au-sidebar_item">
                <a herf="#" class="au-sidebar_link js-plugin" data-plugin="label" title="Edit text">
                    <i class="au-sidebar_link_icon auicon auicon-edit"></i>
                    <span class="au-sidebar_link_label">Edit</span>
                </a>
            </li>
            <li class="au-sidebar_item">
                <a herf="#" class="au-sidebar_link js-plugin" data-plugin="image" title="Edit images">
                    <i class="au-sidebar_link_icon auicon auicon-img"></i>
                    <span class="au-sidebar_link_label">Image</span>
                </a>
            </li>

            {{!-- admin role --}}
            {{#if isInRole 'admin'}}
                <li class="au-sidebar_item">
                    <a herf="#" class="au-sidebar_link js-plugin" data-plugin="record" title="Edit records">
                        <i class="au-sidebar_link_icon auicon auicon-add"></i>
                        <span class="au-sidebar_link_label">Records</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a herf="#" class="au-sidebar_link js-plugin" data-plugin="navigation" title="Edit navigation">
                        <i class="au-sidebar_link_icon auicon auicon-link"></i>
                        <span class="au-sidebar_link_label">Link</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a herf="#" class="au-sidebar_link js-plugin" data-plugin="locale" title="Edit locale">
                        <i class="au-sidebar_link_icon auicon auicon-lang"></i>
                        <span class="au-sidebar_link_label">Locale</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a herf="#" class="au-sidebar_link js-plugin" data-plugin="sortable" title="Sort elements">
                        <i class="au-sidebar_link_icon auicon auicon-reorder"></i>
                        <span class="au-sidebar_link_label">Sort</span>
                    </a>
                </li>
                <li class="au-sidebar_item">
                    <a herf="#" class="au-sidebar_link js-plugin" data-plugin="deletable" title="Delete elements">
                        <i class="au-sidebar_link_icon auicon auicon-delete"></i>
                        <span class="au-sidebar_link_label">Delete</span>
                    </a>
                </li>
            {{/if}}
            {{!-- <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_dashboard"><i class="fa fa-dashboard fa-2x"></i></button>
                </div>
            </div> --}}

        </ul>
    </div>
</template>