<template name="cmsinn_rolesmanager">
<div class="js-cmsinn-rolesmanager">
    <div class="overlay" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: black; opacity: 0.5;">
    </div>
    <div class="form" style="position: absolute; width: 80%; height: 80%; min-width: 400px; top: 10%; left: 10%; background: white;">
        <h2>Roles Manager</h2>
        <input class="js-cmsinn-rolesmanager-search" type="text" placeholder="Search">
        <table>
            <tr>
                <th class="js-cmsinn-rolesmanager-sort-option" data-value="name" style="cursor: pointer;">name</th>
                <th class="js-cmsinn-rolesmanager-sort-option" data-value="role" style="cursor: pointer;">role</th>
            </tr>
        {{#each users}}
            <tr>
                <td>{{name}}</td>
                <td>
                    {{#if rolesSelectOptions}}
                    <select class="js-cmsinn-rolesmanager-role" data-userid="{{_id}}">
                    {{#each rolesSelectOptions}}
                    <option value="{{value}}" {{selected}}>{{value}}</option>
                    {{/each}}
                    </select>
                    {{else}}
                    {{role}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </table>
        <ul class="js-cmsinn-rolesmanager-pager">
        {{#each pages}}
            {{#if isCurrentPage this}}
            <li class="selected" data-value="{{this}}" style="cursor: pointer; text-decoration: underline;">{{this}}</li>
            {{else}}
            <li data-value="{{this}}" style="cursor: pointer;">{{this}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>
</template>